.content{
    border-bottom: 1px solid $Light-Grey;
    padding: 10px;
    margin: 10px;

}
.content__title{
    margin: 10px;
    color: $Dark-Charcoal;
    font-family: young serif, sans-serif;
    font-size: large;
}
.content__description{
    margin:10px;
    color: $Wenge-Brown;
}
