@use 'variables';

.first{
    border: white solid 1px;
    margin: 10px;
    background-color: $Rose-White;
    border-radius: 15px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align:start;
}
.first__preptime{
    margin: 17px;
}
.first__list{
    margin: 10px;

}
.first__list--items{
    margin: 10px;
    li{
        span{
            font-weight: bold;
        }
        margin: 10px;
        padding: 5px;
        color: $Dark-Raspberry;
        p{
            color: $Wenge-Brown;
          
        }
    }
}
.first__preptime--h3{
    color: $Dark-Raspberry;
}